<%= form_for(@admin) do |f| %>
  <% if @admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin.errors.count, "error") %> prohibited this admin from being saved:</h2>

      <ul>
      <% @admin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :current_generation %><br />
    <%= f.number_field :current_generation %>
  </div>
  
  <div class="field">
    <%= f.label :genes_per_generation %><br />
    <%= f.number_field :genes_per_generation %>
  </div>
  
  <div class="field">
    <%= f.label :value_set %><br />
    <%= f.text_field :value_set %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
