<p id="notice"><%= notice %></p>

<p>
  <b>Current generation:</b>
  <%= @admin.current_generation %>
</p>

<p>
  <b>Num of gene elements:</b>
  <%= @admin.num_of_gene_elements %>
</p>


<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>
