<!DOCTYPE html>
<html>
<head>
	
	<%#= render :partial => "layouts/_application_head" %>
	<title>GAR1</title>
	
	<%#= render :partial => "admins/show_css" %> <!-- Not working -->
	
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
  
	<%#= javascript_include_tag "/javascript/admin" %>
	<%= javascript_include_tag "/javascript/admin.js" %>
	<%#= javascript_include_tag "javascript/admin.js" %>
	<%#= javascript_include_tag "admin" %>
  
	<%= csrf_meta_tags %>
	
	<meta name="viewport"
       content="width=device-width,
		user-scalable=yes,
		initial-scale=0.8,
                maximum-scale=3.0" />

	
</head>
<body>

<%= yield %>

<hr />

<%#= render :partial => "app_footer" %>
<%= render :partial => "layouts/app_footer" %>

</body>
</html>
